<h1>{{title}}</h1>

<ul>
    <li>{{aluno.nome}}</li>
    <li>{{aluno.email}}</li>
    <li>{{aluno.matricula}}</li>
    <li>{{aluno.data_nascimento}}</li>
</ul>

<a href="/alunos/edit/{{aluno.matricula}}">Editar</a>

<form action="/alunos/{{aluno.matricula}}" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit" id="submit" class="btn btn-danger">
        Remover
        <i class="bi bi-trash"></i>
    </button>
</form>