<h1>{{title}}</h1>

<table class="table">
    <thead class="table-light">
        <tr>
            <th scope="col">#</th>
            {{#each alunos.heads}}
                <th scope="col">{{this}}</th>
            {{/each}}
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {{#each alunos.content}}
        <tr>
            <td>{{@index}}</td>
            <th scope="row">{{matricula}}</th>
            <td>{{nome}}</td>
            <td>{{data_nascimento}}</td>
            <td>{{email}}</td>
            
            <td>
                <a class="btn btn-light rounded-pill px-3" href="alunos/edit/{{matricula}}" role="button">
                    <i class="bi bi-pencil-square"></i>
                </a>
            </td>

            <td>
                <button class="btn btn-light rounded-pill px-3" type="button">
                    <i class="bi-trash"></i>
                </button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<a class="btn btn-outline-secondary" href="alunos/new/" type="button">
    Novo aluno
    <i class="bi bi-person-fill-add"></i>
</a>